@import "tailwindcss";

/* hide the native cursor so only the GSAP cursor shows. Cursor is hidden on all elements to prevent it from flashing on hover states. */
* {
  cursor: none !important;
}

/* ensures the body takes up the full width and handles overflow correctly for the custom scroll hijacking */
html,
body {
  width: 100vw;
  overflow-x: hidden;
}

/* custom text selection styling (highlight color) */
::selection {
  background-color: #f4f4f4;
  color: #0e0e0e;
}
